node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
gas-report.txt

# Subgraph files
subgraphs/abis
subgraphs/build
subgraphs/generated
subgraphs/node_modules
subgraphs/yarn.lock
